source https://www.nuget.org/api/v2/
source https://ci.appveyor.com/nuget/uritemplatestring-anccdppl0ruy

nuget fluentassertions
nuget GitVersionTask
nuget JsonLD.Entities 0.3.3 framework: >= net45
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.0
nuget Microsoft.Owin.Host.HttpListener 3.0.1 framework: >= net46
nuget Microsoft.Owin.Host.SystemWeb 3.0.1
nuget Microsoft.Owin.Hosting 3.0.1
nuget Nancy.Owin
nuget OpenCover
nuget Shouldly
nuget TunnelVisionLabs.Net.UriTemplate 1.0.0-beta004 framework: >= net45
nuget xunit 2.1.0 framework: >= net45
nuget Nancy prerelease
nuget StyleCop.Analyzers
nuget UriTemplateString = 0.1.0-improvements0001
nuget Nancy.Testing prerelease

gist tpluscode/a285267d2543466fc35c3a168c846f9f