source https://www.nuget.org/api/v2/

framework: auto-detect

nuget fluentassertions
nuget JsonLD.Entities
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Hosting
nuget Nancy.Owin
nuget Shouldly
nuget UriTemplate.Core
nuget xunit
nuget xunit.runner.visualstudio
nuget StyleCop.Analyzers
nuget UriTemplateString
nuget Nancy.Testing
nuget System.ComponentModel
nuget microsoft.aspnetcore.all < 2.1
nuget Nancy 2.0

gist tpluscode/a285267d2543466fc35c3a168c846f9f

group tools
    source https://nuget.org/api/v2
    nuget Cake
    nuget gitlink
    nuget codecov
    nuget gitversion.commandline prerelease
    nuget JetBrains.dotCover.CommandLineTools
    nuget ReportGenerator 4.0.4

group addins
    source https://nuget.org/api/v2
    nuget cake.paket
    nuget cake.codecov

group modules
    source https://nuget.org/api/v2
    nuget Cake.Paket.Module